<mat-tab-group>
  <mat-tab label="Business to Category">
    <div class="tab-content">
      <mat-form-field>
        <mat-label>Select a Business</mat-label>
        <mat-select [(ngModel)]="selectedBusinessId" (selectionChange)="onBusinessSelectionChange()">
          <mat-option *ngFor="let business of businesses" [value]="business.businessId">
            {{ business.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="saveBusinessCategoryChanges()" *ngIf="selectedBusinessId">Save Changes</button>
      <div *ngIf="businessComparison" class="comparison-container">
        <div class="category-list">
          <h3>Included Categories</h3>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event, 'includedCategories')" placeholder="Search">
          </mat-form-field>
          <mat-selection-list #includedCategoriesList>
            <mat-list-option *ngFor="let category of filteredIncludedCategories" [value]="category">
              {{ category.categoryName }}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="transfer-buttons">
          <button mat-button (click)="moveFromIncludedToNotIncluded(includedCategoriesList.selectedOptions.selected)">
            &gt;
          </button>
          <button mat-button (click)="moveFromNotIncludedToIncluded(notIncludedCategoriesList.selectedOptions.selected)">
            &lt;
          </button>
        </div>
        <div class="category-list">
          <h3>Not Included Categories</h3>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event, 'notIncludedCategories')" placeholder="Search">
          </mat-form-field>
          <mat-selection-list #notIncludedCategoriesList>
            <mat-list-option *ngFor="let category of filteredNotIncludedCategories" [value]="category">
              {{ category.categoryName }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Category to Business">
    <div class="tab-content">
      <mat-form-field>
        <mat-label>Select a Category</mat-label>
        <mat-select [(ngModel)]="selectedCategoryId" (selectionChange)="onCategorySelectionChange()">
          <mat-option *ngFor="let category of categories" [value]="category.categoryId">
            {{ category.categoryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="saveCategoryBusinessChanges()" *ngIf="selectedCategoryId">Save Changes</button>

      <div *ngIf="categoryComparison" class="comparison-container">
        <div class="business-list">
          <h3>Included Businesses</h3>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event, 'includedBusinesses')" placeholder="Search">
          </mat-form-field>
          <mat-selection-list #includedBusinessesList>
            <mat-list-option *ngFor="let business of filteredIncludedBusinesses" [value]="business">
              {{ business.description }}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="transfer-buttons">
          <button mat-button (click)="moveFromIncludedToNotIncludedBusinesses(includedBusinessesList.selectedOptions.selected)">
            &gt;
          </button>
          <button mat-button (click)="moveFromNotIncludedToIncludedBusinesses(notIncludedBusinessesList.selectedOptions.selected)">
            &lt;
          </button>
        </div>
        <div class="business-list">
          <h3>Not Included Businesses</h3>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event, 'notIncludedBusinesses')" placeholder="Search">
          </mat-form-field>
          <mat-selection-list #notIncludedBusinessesList>
            <mat-list-option *ngFor="let business of filteredNotIncludedBusinesses" [value]="business">
              {{ business.description }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
