.tab-content {
  padding: 20px;
}

.comparison-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.category-list, .business-list {
  width: 45%;

  mat-selection-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
  }
}

.transfer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
