<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="business" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    Business
  </a>
  <a mat-tab-link routerLink="category" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
    Category
  </a>
  <a mat-tab-link routerLink="business-category" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
    Business-Category
  </a>
  <a mat-tab-link routerLink="business-category-comparison" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
    Comparison
  </a>
</nav>
<router-outlet></router-outlet>
